.App {
  height: calc(100vh + 9002px);
  width: 100vw;
  background: rgb(200, 200, 200);
  position: relative;
  color: white;
}
  
.Header {
  width: 100vw;
  height: 130px;
  background: rgba(30, 30, 30, 1);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.box {
  background: indianred;
  width: 130px;
  height: 130px;
  position: relative;
  top: 500px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  // transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background: blue;
  color: white;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  z-index: 10;
}